snippet web "Bibtex Online"
@online{$1,
	author   = {$2},
	title    = {$3},
	year     = {$4},
	url      = {$5},
	keywords = {$6},
}
$0
endsnippet

snippet art "Bibtex Article"
@article{$1,
	author   = {$2},
	title    = {$3},
	journal  = {$4},
	year     = {$5},
	url      = {$6},
	keywords = {$7},
}
$0
endsnippet

snippet book "Bibtex Book"
@book{$1,
	author    = {$2},
	title     = {$3},
	publisher = {$4},
	year      = {$5},
	keywords  = {$6},
}
$0
endsnippet
